.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 50%;}
.col7 {width: 58.33%;}
.col8 {width: 66.66%;}
.col9 {width: 75%;}
.col10 {width: 83.33%;}
.col11 {width: 91.66%;}
.col12 {width: 100%;}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url(./Fonts/FontsFree-Net-Gilroy3.ttf) format('truetype');
}

body {
  overflow-x: hidden;
  font-family: 'Gilroy-Regular', Helvetica, Arial, sans-serif;
  /* font-weight: 400;  */
}
.jumboContainer {
  background-color: #272426;
  background-image: url(./Images/1minus1_jumbo_dancer_Moment.jpg);
  background-position: 29vh -1.8vw;
  background-size: 72%;
  background-repeat: no-repeat;
  position: relative;
}
.jumboText {
  box-sizing: border-box;
  height: 100%;
  padding-top: 15%;
  color: white;
  position: relative;
  float: left;
  font-size: 14.5vh;
  font-weight: 100;
  padding-left: 13.5%;
  line-height: 17vh;
}
.jumboText p {
  font-size: 1.8vh;
  font-weight: bold;
  line-height: 1vh;
}
.sponsors {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding-top: 12vh;
  background-color: #F9F9F9;
  list-style: none;
}
.sponsorsLogo {
  box-sizing: border-box;
  width: 19%;
  height: 22%;
  list-style: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  opacity: 0;
}
.xboxLogo {background-image: url(./Images/xboxstudios.png);
        animation: fadeIn 1s forwards;}
.vrLogo {background-image: url(./Images/vrlogo.webp);
        animation: fadeIn 1s forwards;
        animation-delay: 0.2s;}
.turn10Logo {background-image: url(./Images/turn10logo_1.png); background-size: 35%;
        animation: fadeIn 1s forwards;
        animation-delay: 0.4s;}
.fastTravelLogo {background-image: url(./Images/fasttravellogo.png); background-size: 75%;
        animation: fadeIn 1s forwards;
        animation-delay: 0.6s;}
.thatGameLogo {background-image: url(./Images/thatgamelogo.png); background-size: 75%;
        animation: fadeIn 1s forwards;
        animation-delay: 0.8s;}
.playgroundLogo {background-image: url(./Images/playgroundlogo.png); background-size: 75%;
        animation: fadeIn 1s forwards;
        animation-delay: 1s;}
.ballisticLogo {background-image: url(./Images/ballisticlogo.png);
          animation: fadeIn 1s forwards;
          animation-delay: 1.2s;}
.studioTypesLogo {background-image: url(./Images/studiotypeslogo.png); background-size: 75%;
          animation: fadeIn 1s forwards;
          animation-delay: 1.4s;}
.airshipLogo {background-image: url(./Images/airshiplogo.png); background-size: 75%;
          animation: fadeIn 1s forwards;
          animation-delay: 1.6s;}
.lightspeedLogo {background-image: url(./Images/lightspeedlogo.png); background-size: 40%;
          animation: fadeIn 1s forwards;
          animation-delay: 1.8s;}
.kochLogo {background-image: url(./Images/kochlogo.png); background-size: 75%;
          animation: fadeIn 1s forwards;
          animation-delay: 2s;}
.tezotopiaLogo {background-image: url(./Images/tezotopialogo.png); background-size: 50%;
          animation: fadeIn 1s forwards;
          animation-delay: 2.2s;}

@keyframes fadeIn {
  0% {
    opacity: 0;
    list-style: none;
  }
  100% {
    opacity: 0.7;
  }
}
.fadeOut {
  animation: fadeout 1s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    list-style: none;
  }
}
.blankLogo {
  width: 12%;
}
.whatWeDoPage {
  box-sizing: border-box;
  padding: 0 auto;
  display: flex;
  justify-content: center;
}
.wwdDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #4A4A4A;
  position: relative;
  top: -7vh;
}
.wwdHeading {
  line-height: 8vh;
  font-size: 2vh;
  font-weight: bold;
}
.wwdDesc {
  line-height: 8vh;
  font-size: 6.7vh;
  font-weight: 100;
}
.breakdownHeadings {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}
.heading {
  display: flex;
  flex-direction: column;
}
.wwdBreakdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.websitesBreakdown,
.designsBreakdown,
.graphicsBreakdown,
.marketingBreakdown {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 23%;
  padding-top: 7.5vh;
}
.websitesBreakdown li,
.designsBreakdown li,
.graphicsBreakdown li,
.marketingBreakdown li{
  line-height: 4vh;
  font-size: 2.1vh;
  font-weight: bold;
} 
.websitesBreakdown li:first-of-type,
.designsBreakdown li:first-of-type,
.graphicsBreakdown li:first-of-type,
.marketingBreakdown li:first-of-type {
  line-height: 6vh;
  font-size: 3vh;
  font-weight: bolder;
  border-bottom: 1px solid #EAEAEA;
}
.websitesBreakdown li:nth-of-type(2),
.designsBreakdown li:nth-of-type(2),
.graphicsBreakdown li:nth-of-type(2),
.marketingBreakdown li:nth-of-type(2) {
  padding-top: 4vh;
  color: #787878;
}
.websitesBreakdown li:nth-last-of-type(3),
.designsBreakdown li:nth-of-type(3),
.graphicsBreakdown li:nth-of-type(3),
.marketingBreakdown li:nth-of-type(3),
.websitesBreakdown li:nth-of-type(4),
.designsBreakdown li:nth-of-type(4),
.graphicsBreakdown li:nth-of-type(4),
.marketingBreakdown li:nth-of-type(4) {
  color:#787878;
}
.resultsDiv {
  background-color: #212121;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  transform: translateX(-200vh);
}
.resultsDivAnimation {
  animation: sideSlideIn 2s ease-in-out forwards;
  animation-iteration-count: 1;
}
@keyframes sideSlideIn {
  0% {
    transform: translateX(-200vh);
  }
  100% {
    transform: translateX(0px);
  }
}
.resultsText {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.resultsTextLeftTop {
  line-height: 10vh;
  font-size: 11vh;
  font-weight: lighter;
  padding-bottom: 5vh;
}
.resultsTextLeftMiddle {
  line-height: 3.5vh;
  font-size: 2vh;
  font-weight: bolder;
  padding-bottom: 3vh;
}
.resultsTextLeftBottom a:active, 
.resultsTextLeftBottom a:link, 
.resultsTextLeftBottom a:hover, 
.resultsTextLeftBottom a:visited {
  color: white;
  font-size: 2.2vh;
  font-weight: bolder;
}
.resultsTextRight {
  display: flex;
  flex-direction: column;
  justify-content:  flex-end;
  text-align: right;
  position: relative;
  top: 15vh;
  padding-right: 2vh;
}
.resultsTextRightTop {
  font-size: 23vh;
  font-weight: bold;
}
.resultsTextRightBottom {
  font-size: 2vh;
  font-weight: bolder; 
}

.specialistPage {
  background-color: #f6f6f6;
}
.controllerBG {
  height: 65%;
  width: 82%; 
  background-color: #DDDDDD;
  position: relative;
  top: 17%;
  left: 9.5%;
  z-index: 0;
  padding: 0 auto;
  align-self: center;
}
.controllerBGHidden {
  animation: controllerBGHide 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
@keyframes controllerBGHide {
  0% {
    width: 83.33%;
  }
  100% {
    width: 0%;
  }
}
.controllerImageHidden {
  animation: controllerImageHide .5s forwards;
}
@keyframes controllerImageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.controllerImage {
  background-image: url(./Images/handsController.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 92%;
  z-index: 10;
  position: relative;
  top: -61%;
  left: -2.25%;
  opacity: 0;
}
.controllerBGAnimation {
  animation: inFromLeft 1.5s ease-in-out forwards;
}
@keyframes inFromLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 83.33%;
  }
}
.controllerImageAnimation {
  animation: controllerFadeIn 1s forwards;
  animation-delay: 2.5s; 
}
@keyframes controllerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.featuredProjectDiv {
  height: 77.3%;
  width: 88%;
  background-color: #282524;
  margin-top: 6.4%;
  margin-left: 6.3%;
  color: white;
}
.featuredProjectVideoDiv {
  width: 75%;
  height: 83%;
  margin-left: 13%; 
  background-image: url(./Images/featuredprojectvideo_Moment.jpg);
  z-index: 0;
  position: relative;
  top: 2%;
}
.featuredProjectText {
  padding-left: 7.2%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -85%;
}
.featuredProjectTextTop {
  font-size: 2.2vh;
  line-height: 5vh;
  padding-top: 8.5%;
  font-weight: bold;
}
.featuredProjectTextMiddle {
  font-size: 8vh;
  font-weight: lighter;
  line-height: 10vh;
  padding: 0;
}
.featuredProjectTextBottom {
  font-weight: bold;
  font-size: 2.2vh;
  line-height: 8vh;
  padding: 0;
}
.featuredProjectTextBottom a:link,
.featuredProjectTextBottom a:visited,
.featuredProjectTextBottom a:active,
.featuredProjectTextBottom a:hover {
  color: white;
}
.sideBar {
  width: 15%;
  height: 95%;
  background-color: #F9F9F9;
  position: relative;
  left: 0;
  /* top: -50vh; */
}
.caseStudyPage {
  box-sizing: border-box;
  /* margin-top: 22%; */
  color: #4A4A4A;
}
.caseStudyText {
  height: 21vh;
  display: flex;
  flex-direction: column;
  padding-left: 12vw;
  position: relative;
  top: -320vh;
}
.caseStudyTextTop {
  line-height: 5vh;
  font-size: 1.8vh;
}
.caseStudyTextBottom {
  font-size: 6.2vh;
  font-weight: lighter;
  line-height: 9vh; 
}
.turn10CaseDiv {
  height: 130vh;
  display: flex;
  flex-direction: column;
  padding-left: 6.3vw;
  overflow-x: visible;
  position: relative;
  top: -295vh;
}
.turn10BG {
  background-color: #F4F4F4;
  height: 40%;
  width: 100%;
}
.turn10CaseImage {
  height: 110%;
  width: 110%;
  background-image: url(./Images/turn10carimage.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  left: -10%;
}
.turn10CaseTextTop,
.ballisticCaseTextTop,
.fastTravelCaseTextTop,
.studiotypesCaseTextTop {
  line-height: 5vh;
}
.turn10CaseTextBottom,
.ballisticCaseTextBottom,
.fastTravelCaseTextBottom,
.studiotypesCaseTextBottom {
  font-size: 4.2vh;
  line-height: 6vh;
}

.ballisticCaseDiv {
  height: 170vh;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  position: relative;
  top: -415vh;
  left: 50vw;
}
.ballisticBG {
  background-color: #F4F4F4;
  height: 42%;
  width: 100%;
}
.ballisticCaseImage {
  height: 125%;
  width: 130%;
  background-image: url(./Images/ballisticastronautimage.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 7vh;
  position: relative;
  left: -15%;
  top: -25%;
}

.fastTravelCaseDiv {
  height: 165vh;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  position: relative;
  top: -500vh;
  left: 12vw;
}
.fastTravelBG {
  background-color: #F4F4F4;
  height: 42%;
  width: 100%;
}
.fastTravelCaseImage {
  height: 130%;
  width: 150%;
  background-image: url(./Images/fasttravelzombieimage.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: 12vh;
  background-position-x: 25vh;
  position: relative;
  top: -30%;
  left: -13%;
}

.studiotypesCaseDiv {
  height: 150vh;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  position: relative;
  top: -630vh;
  left: 60vw;
}
.studiotypesBG {
  background-color: #F4F4F4;
  height: 35%;
  width: 100%;
}
.studiotypesCaseImage {
  height: 110%;
  width: 110%;
  background-image: url(./Images/studiotypeswireframeimage.png);
  background-repeat: no-repeat;
  background-size: 105%;
  background-position-y: -8vh;
  background-position-x: center;
  position: relative;
  top: -17%;
  left: -10%;
}

.playgroundBannerPage {
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  padding-top: 4%;
}
.playgroundBG {
  height: 84%;
  width: 87%;
  background-color: #282524;
}
.playgroundBGImage {
  height: 100%;
  width: 100%;
  background-image: url(./Images/playground_games_phone_Moment.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.playgroundText {
  position: relative;
  top: -48%;
  box-sizing: border-box;
  padding-left: 7%;
}
.playgroundTextTop {
  color: white;
  font-size: 4vh;
  line-height: 3vh;
}
.playgroundTextBottom {
  padding-top: 3vh;
  color: #636262;
  line-height: 3vh;
  font-size: 2vh;
}
.playgroundTextBottom a:hover,
.playgroundTextBottom a:link,
.playgroundTextBottom a:active,
.playgroundTextBottom a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 13%;
}
.footerTopText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
.footerTopTextTop {
  height: 30%;
  line-height: 12vh;
  font-size: 9.5vh;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
.footerTopTextBottom {
  box-sizing: border-box;
  padding-top: 5%;
}
.footerTopTextBottom a:link,
.footerTopTextBottom a:active,
.footerTopTextBottom a:visited,
.footerTopTextBottom a:hover {
  color: white;
  font-size: 1.8vh;
  font-weight: bold;
}
.footerBottomText {
  display: flex;
  flex-direction: row;
}
.addressLeft,
.addressRight,
.copyright {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.addressLeftName,
.addressRightName {
  line-height: 4vh;
  font-size: 2.2vh;
  font-weight: bold;
}
.addressLeftPhone,
.addressLeftEmail,
.addressRightPhone,
.addressRightEmail {
  color: #e0e0e0;
  line-height: 3.5vh;
  font-size: 2.2vh;
}
.addressLeftAddressTop,
.addressLeftAddressBottom,
.addressRightAddressTop,
.addressRightAddressBottom,
.copyright {
  color: #7F7F7F;
  line-height: 3vh;
  font-size: 2vh;
}
.copyright {
  align-self: flex-end;
}